::ng-deep .p-dropdown {
    display: flex;
    width: 100%;
}

::ng-deep .p-dataview-content {
    border-radius: 0.75rem;
}

::ng-deep .p-dataview-header {
    border: none;
    background-color: white;
}

::ng-deep .p-inputnumber-button {
    background-color: white;
    color: var(--card-border);
    border-left: none;
    border-color: #d1d5db;
}

::ng-deep .p-inputnumber-button-down {
    border-top: none !important;
}

::ng-deep .p-inputnumber-button-up {
    border-bottom: none !important;
}

::ng-deep .p-inputnumber-input, ::ng-deep .p-inputnumber-input:enabled:focus, ::ng-deep .p-inputnumber-input:enabled:hover {
    box-shadow: none;
    border-color: #d1d5db;
    border-right: none;
}

pre {
    white-space: pre-wrap;
    font-family: "Inter var", sans-serif;
}