/* You can add global styles to this file, and also import other style files */
body {
    background-color: var(--bluegray-100);
}

.container {
    margin: 5rem 0rem;
    max-width: 1920px;
}

.card {
    background: var(--surface-card);
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}